$local-green: #6B9749;

.navbar{
  background-color: white;
  .navbar-logo{
    max-width: 10rem;
  }
  .nav-ul{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .nav-item{
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      .nav-link{
        color: $local-green;
        font-family: Montserrat;
        font-size: 2rem;
        font-weight:400;
      }
    }
  }
  .nav-btn-div{
    .btn-outline-success{
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      color: $local-green;
      border-color: $local-green;
    }
    .btn-success{
      margin-right: 13.5rem;
      margin-left: 1.5rem;
      background-color: $local-green;
    }
  }
}

.main-body-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .navbar-spacing{
    height: 5rem;
  }
  .card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
  }
}

.featured-business-card{
  border: 3px, solid;
  border-radius: 1.5rem;
  max-width: 70%;
  max-height: 20.5rem;
  .card-div-two{
    border: none;
    display: flex;
    flex-direction: row;
    .featured-card-img{
      max-width: 50%;
      border-radius: 1.5rem;
    }
    .card-body{
      max-height: 20.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .card-title{
        font-family: Montserrat;
        font-weight: 800;
        margin-bottom: 1rem;
      }
      .card-text{
        overflow: hidden;
      }
      .card-btn-div{
        margin-top: 4rem;
        max-width: 5rem;
        align-self: center;
        .card-btn{
          background-color: $local-green;
          border-color: $local-green;
          max-width: 7rem;
        }
      }
    }
  }
}

.search-bar-div{
  display: flex;
  justify-content: center;
  .main-search-bar-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-bar{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .search-inputs{
        font-size: 1.2rem;
        .input-field{
          max-width: 150rem;
          min-width: fit-content(10rem);
        }
      }
      .search-btn-div{
        margin-left: 1rem;
        .clear-btn{
          background-color: $local-green;
          border-color: $local-green;
          max-width: 8rem;
        }
      }
    }
  }
}

.business-card{
  max-width: 22%;
  min-width: 9.5rem;
  border-width: .19rem;
  border-style: solid;
  border-color: $local-green;
  border-radius: 9%;
  .card-btn-div{
    display: flex;
    justify-content: center;
    .card-btn{
      background-color: $local-green;
      border-color: $local-green;
      max-width: 7rem;
    }
  }
}

.business-body-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; 
  .business-img{
    max-width: 30%;
    min-width: 20rem;
    border-radius: 1.5rem;
  }
  .business-spacing{
    margin-right: 5rem;
  }
  .business-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .bus-detail{
      margin: 1.5rem;
    }
  }
}

.main-review-div{
  .review-header{
    font-weight: 800;
  }
  .hr{
    width: 80%;
    border: .05rem solid black;
    margin: .3rem;
  }
  .form-container{
    .form-group{
      display: flex;
      flex-direction: column;
      .form-input{
        min-width: 18rem;
        max-width: 90%;
      }
      .text-input{
        min-height: 4rem;
        
      }
    }
  }
}
.owner-key{
    display: none;
  }

.hidden-div{
  display: none;
}

.review-card-container{
  margin-top: 3rem;
  .review-card{
    display: flex;
    flex-direction: row;
    border-radius: 3rem;
    margin: 1rem;
    max-width: 90%;
    .review-card-img{
      max-width: 20%;
      min-width: 20rem;
      border-radius: 3rem;
    }
  }
}

.bus-img{
  max-width: 30%;
  min-width: 20rem;
  border-radius: 1.5rem;
}
.business-container{
  display: flex;
  flex-direction: row;
}