$fav-green: #6B9749;

.nav-container{
  max-width: 100%;
  min-width: fit-content;
  .navbar-logo{
    max-width: 10rem;
  }
  .nav-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    .nav-item{
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      .nav-link{
        color: $fav-green;
        font-family: Montserrat;
        font-size: 2rem;
        font-weight:400;
      }
    }
  }
  .nav-btn-div{
    display: flex;
    justify-content: flex-end;
    margin-left: 33%;
    margin-top: .2rem;
    .nav-btn{
      max-width: 6.7rem;
      min-width: fit-content;
      height: 3rem;
      color: $fav-green;
      border-color: $fav-green;
    }
    .nav-btn:hover{
      background-color: $fav-green;
      color: white;
    }
  }
}

.main-body-div{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: fit-content;
  margin-bottom: 5rem;
  .navbar-spacing{
    height: 2rem;
  }
  .card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
  }
}

.home-view-container{
  .home-title{
    max-width: 90%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 2rem;
    color: $fav-green;
  }
}

.featured-business-card{
  max-width: 150rem;
  .featBus-card-div{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      .featured-card-img{
        max-width: 55%;
        height: 50%;
        border-radius: 1.5rem;
      }
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card-title{
        font-family: Montserrat;
        font-weight: 800;
        margin-bottom: 1rem;
        font-size: 2rem;
      }
      .card-text{
        max-width: 30rem;
      }
      .card-btn-div{
        margin-top: 4rem;
        align-self: center;
        .card-btn{
          background-color: $fav-green;
          border-color: $fav-green;
        }
      }
    }
  }
}

.search-view-container{
  .search-bar-div{
    display: flex;
    justify-content: center;
    width: 85%;
    .main-search-bar-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .search-bar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        .search-inputs{
          font-size: 1.2rem;
          width: 70%;
          margin-top: .1rem;
          .input-field{
            width: 100%;
          }
        }
        .search-btn-div{
          margin-left: 1rem;
          .clear-btn{
            background-color: $fav-green;
            border-color: $fav-green;
            max-width: 8rem;
          }
        }
      }
    }
  }
  .search-card-div{
    width: 100%;
    gap: 4rem;
    .business-card{
      max-width: 30%;
      min-width: 9.5rem;
      border-width: .19rem;
      border-style: solid;
      border-color: $fav-green;
      border-radius: 1rem;
      .card-img{
        max-width: 100%;
        border-radius: .8rem .8rem 0 0;
      }
      .card-text{
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        max-height: 5rem;
        white-space: nowrap;
      }
      .card-btn-div{
        display: flex;
        justify-content: center;
        .card-btn{
          background-color: $fav-green;
          border-color: $fav-green;
          max-width: 7rem;
        }
      }
    }   
  }
}

.business-body-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; 
  .business-img{
    max-width: 30%;
    min-width: 20rem;
    border-radius: 1.5rem;
  }
  .business-spacing{
    margin-right: 5rem;
  }
  .business-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .bus-detail{
      margin: 1.5rem;
    }
  }
}


.owner-key{
    display: none;
  }

.hidden-div{
  display: none;
}

.business-details-container{
  .business-body-div{
    display: flex;
    flex-direction: row;
    .business-details-img{
      padding: 1rem;
      max-width: 45%;
      border-radius: 3rem;
    }
    .business-details-card-conatiner{
      max-width: 45%;
      padding: 1rem;
      .business-card-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 28.5rem;
        .bus-detail{
          padding: .2rem;
          font-family: Montserrat;
        }
        .business-name{
          font-weight: 400;
          font-size: 2rem;
        }
        .business-text{
          text-align: start;
        }
      }
    }

  }
  .main-review-div{
  .form-container{
    max-width: 50%;
    Input{
      border: 2px solid $fav-green;
      box-shadow: 0 0 3px $fav-green;
    }
    .form-group{
      display: flex;
      flex-direction: column;
      .form-input{
        min-width: 18rem;
        max-width: 90%;
      }
      .rev-form-review-text{
        min-height: 5rem;
        overflow-wrap: break-word;
        border: 2px solid $fav-green;
        box-shadow: 0 0 3px $fav-green;
      }
    }
    .rev-form-btns{
      margin: .2rem;
    }
    .submit-rev-form-btn{
      color: $fav-green;
      border-color: $fav-green;
      background-color: white;
    }
    .submit-rev-form-btn:hover{
      background-color: $fav-green;
      color:white;
    }
    .cancel-rev-form-btn{
      background-color: $fav-green;
      border-color: $fav-green;
    }
    .cancel-rev-form-btn:hover{
      background-color: white;
      color: $fav-green;
    }
  }
}
  .main-review-div{
    width: 90%;
    .review-header{
      text-align: left;
      font-size: 2rem;
      font-weight: 400;
    }
    .hr{
      width: 100%;
      border: .05rem solid black;
      margin: .3rem;
    }
    .form-call-btn-div{
      display: flex;
      align-items: flex-start;
    }
    .review-card-container{
      width: 100%;
      font-family: Montserrat;
      margin-top: 3rem;
      .review-card{
      display: flex;
      flex-direction: row;
      border-radius: 3rem;
      margin: 1rem;
      max-width: 90%;
      border: .2rem solid $fav-green;
      .review-card-img{
        margin-right: 1rem;
        max-width: 25rem;
        max-height: 20rem;
        border-radius: 3rem;
      }
      .review-card-body{
        position: relative;
        width: 75%;
        height: 22rem;  
        text-align: left;
        .review-card-title{
          font-size: 2rem;
          font-weight: 400;
        }
        .review-card-local-name{
          position: absolute;
          font-weight: 800;
          bottom: 1.5rem;
          right: 13px;
        }   
        .review-card-text{
          height: 58%;
        }
        .review-btn-div{
          position: absolute;
          bottom: .2rem;
          right: 1.2rem;
          .review-btn{
            margin-right: .5rem;
          }
          .rev-edit-btn{
            border-color: $fav-green;
            background-color: $fav-green;
          }
          .rev-edit-btn:hover{
            border-color: $fav-green;
            color: $fav-green;
            background-color: white;
          }
          .rev-del-btn{
            border-color: $fav-green;
            color: $fav-green;
          }
          .rev-del-btn:hover{
            border-color: $fav-green;
            color: white;
            background-color: $fav-green;
          }
        }
      }
    }
  }
}

}

.profile-view-container{
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  .profile-div-1{
    width: 45%;
    margin-left: 5rem;
  }
  .profile-card-container{
    width: 100%;
    .local-card{
      display: flex;
      text-align: left;
      .local-card-body{
        .local-card-img{
          border-radius: 50%;
          max-width: 30rem;
        }
        .local-card-title{
          font-weight: 600;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 2rem;
        }
        .local-card-description{
          width: 35rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  .profile-btn-container{
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    .edit-profile-btn{
      background-color: $fav-green;
      border-color: $fav-green;
    }
    .edit-profile-btn:hover{
      background-color: white;
      color: $fav-green;
    }
  } 
  .profile-div-2{
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .profile-verticle-break1{
      margin-right: 5rem;
      height: 30rem;
      width: .05rem;
      border-left: .05rem solid black;
    }
    .profile-verticle-break2{
      margin-right: 5rem;
      height: 30rem;
      width: .05rem;
      border-left: .05rem solid white;
    }
    .profile-form-container{
      width: 35rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      .local-form-div{
        width:100%;
      }
      .main-local-form-div{
        Input{
          border: 2px solid $fav-green;
          box-shadow: 0 0 3px $fav-green;
        }
        width: 100%;
        .local-form-name{
          width: 100%
        }
        .local-form-url{
          width: 100%
        }
        .local-form-bio{
          height: 18rem;
          width: 100%;
          border: 2px solid $fav-green;
          box-shadow: 0 0 3px $fav-green;
        }
      }
      .local-form-btn{
        background-color: $fav-green;
        border-color: $fav-green;
      }
      .local-form-btn:hover{
        background-color: white;
        color: $fav-green;
      }
    }
  }
}

.business-profile-container{
  .reg-bus-btn{
    background-color: $fav-green;
    border-color: $fav-green;
  }
  .reg-bus-btn:hover{
    background-color: white;
    border-color: $fav-green;
    color: $fav-green;
  }    
  .del-bus-btn{
      border-color: $fav-green;
      color: $fav-green;
    }
    .del-bus-btn:hover{
      border-color: $fav-green;
      background-color: $fav-green;
      color: white;
    }
  .business-profile-card{
    .business-profile-img{
      max-width: 30%;
      min-width: 20rem;
      border-radius: 1.5rem;
    }
    .bus-profile-card-title{
      font-size: 2rem;
      font-weight: 400;
    }
    .bus-details-btn{
      background-color: $fav-green;
      border-color: $fav-green;
    }
    .bus-details-btn:hover{
      background-color: white;
      border-color: $fav-green;
      color: $fav-green;
    }

  }
}

.business-profile-details-container{
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
  justify-content: left;
  .business-profile-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: flex-start;
    margin-left: 1rem;
    .business-profile-info{
      position: relative;
      .b-text{
        margin: 1.5rem;
        font-size: 1.2rem;
      }
      .b-title{
        font-weight: 400;
        font-size: 2rem;
      }

      .bus-img{
        position: absolute;
        top:1rem;
        right:1rem;
        max-width: 35%;
        min-width: 20rem;
        border-radius: 1.5rem;
      }      
      .b-description{
          max-width: 90%;
        }
      }
      .bus-prof-btn{
        margin: 1.5rem;
        background-color: $fav-green;
        border-color: $fav-green;
      }
      .bus-prof-btn:hover{
        margin: 1.5rem;
        background-color: white;
        border-color: $fav-green;
        color: $fav-green;
      }
  }
  .form-break-container{
    width: 45%;
    display: flex;
    flex-direction: row;
    .bus-profile-verticle-break1{
      height: 45rem;
      // height: fit-content;
      width: .05rem;
      margin-left: 2rem;
      margin-right: 5rem;
      border-left: .05rem solid black;
    }
    .bus-profile-verticle-break2{
      height: 30rem;
      width: .05rem;
      margin-left: 2rem;
      margin-right: 5rem;
      border-left: .5rem solid white;
    }
    .bus-profile-form-container{
      width: 70%;
      .bus-profile-form{
        Input{
          border: 2px solid $fav-green;
          box-shadow: 0 0 3px $fav-green;
        }
        .bus-prof-description{
          border: 2px solid $fav-green;
          box-shadow: 0 0 3px $fav-green;
          height: 16rem;
        }
        .bus-prof-form-btn{
          background-color: $fav-green;
          border-color: $fav-green;
        }
        .bus-prof-form-btn:hover{
          background-color: white;
          border-color: $fav-green;
          color: $fav-green;
        }
      }
   }
  }
}

.add-business-container{
  font-family: Montserrat;
  .add-bus-title{
    font-size: 2rem;
    color: $fav-green;
  }
  .add-bus-form-container{
    width: 35%;
  }
  .bus-profile-form{
    Input{
      border: 2px solid $fav-green;
      box-shadow: 0 0 3px $fav-green;
    }
    .bus-prof-description{
      border: 2px solid $fav-green;
      box-shadow: 0 0 3px $fav-green;
      height: 16rem;
    }
    .bus-prof-form-btn{
      background-color: $fav-green;
      border-color: $fav-green;
    }
    .bus-prof-form-btn:hover{
      background-color: white;
      border-color: $fav-green;
      color: $fav-green;
    }
  }
}

