$fav-green: #6B9749;

.nav-container{
  max-width: 100%;
  min-width: fit-content;
  .navbar-logo{
    max-width: 10rem;
  }
  .nav-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    .nav-item{
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      .nav-link{
        color: $fav-green;
        font-family: Montserrat;
        font-size: 2rem;
        font-weight:400;
      }
    }
  }
  .nav-btn-div{
    display: flex;
    justify-content: flex-end;
    margin-left: 33%;
    margin-top: .2rem;
    .nav-btn{
      max-width: 6.7rem;
      min-width: fit-content;
      height: 3rem;
      color: $fav-green;
      border-color: $fav-green;
    }
    .nav-btn:hover{
      background-color: $fav-green;
      color: white;
    }
  }
}

.main-body-div{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: fit-content;
  margin-bottom: 5rem;
  .navbar-spacing{
    height: 2rem;
  }
  .card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
  }
}

.home-view-container{
  .home-title{
    max-width: 90%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 2rem;
    color: $fav-green;
  }
}

.featured-business-card{
  max-width: 150rem;
  .featBus-card-div{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      .featured-card-img{
        max-width: 60%;
        height: 50%;
        border-radius: 1.5rem;
      }
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card-title{
        font-family: Montserrat;
        font-weight: 800;
        margin-bottom: 1rem;
        font-size: 2rem;
      }
      .card-text{
        max-width: 30rem;
      }
      .card-btn-div{
        margin-top: 4rem;
        align-self: center;
        .card-btn{
          background-color: $fav-green;
          border-color: $fav-green;
        }
      }
    }
  }
}

.search-view-container{
  .search-bar-div{
    display: flex;
    justify-content: center;
    width: 85%;
    .main-search-bar-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .search-bar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        .search-inputs{
          font-size: 1.2rem;
          width: 70%;
          margin-top: .1rem;
          .input-field{
            width: 100%;
          }
        }
        .search-btn-div{
          margin-left: 1rem;
          .clear-btn{
            background-color: $fav-green;
            border-color: $fav-green;
            max-width: 8rem;
          }
        }
      }
    }
  }
  .search-card-div{
    width: 100%;
    gap: 4rem;
    .business-card{
      max-width: 30%;
      min-width: 9.5rem;
      border-width: .19rem;
      border-style: solid;
      border-color: $fav-green;
      border-radius: 1rem;
      .card-img{
        max-width: 100%;
        border-radius: .8rem .8rem 0 0;
      }
      .card-text{
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        max-height: 5rem;
        white-space: nowrap;
      }
      .card-btn-div{
        display: flex;
        justify-content: center;
        .card-btn{
          background-color: $fav-green;
          border-color: $fav-green;
          max-width: 7rem;
        }
      }
    }   
  }
}

.business-body-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; 
  .business-img{
    max-width: 30%;
    min-width: 20rem;
    border-radius: 1.5rem;
  }
  .business-spacing{
    margin-right: 5rem;
  }
  .business-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .bus-detail{
      margin: 1.5rem;
    }
  }
}


.owner-key{
    display: none;
  }

.hidden-div{
  display: none;
}

.business-details-container{
  .business-body-div{
    display: flex;
    flex-direction: row;
    .business-details-img{
      padding: 1rem;
      max-width: 45%;
    }
    .business-details-card-conatiner{
      max-width: 45%;
      padding: 1rem;
      .business-card-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 28.5rem;
        .bus-detail{
          padding: .2rem;
          font-family: Montserrat;
        }
        .business-name{
          font-weight: 400;
          font-size: 2rem;
        }
        .business-text{
          text-align: start;
        }
      }
    }

  }
  .main-review-div{
  .form-container{
    max-width: 50%;
    .form-group{
      display: flex;
      flex-direction: column;
      .form-input{
        min-width: 18rem;
        max-width: 90%;
      }
      .rev-form-review-text{
        min-height: 5rem;
        overflow-wrap: break-word;
      }
    }
    .rev-form-btns{
      margin: .2rem;
    }
    .submit-rev-form-btn{
      color: $fav-green;
      border-color: $fav-green;
      background-color: white;
    }
    .submit-rev-form-btn:hover{
      background-color: $fav-green;
      color:white;
    }
    .cancel-rev-form-btn{
      background-color: $fav-green;
      // color: $fav-green;
      border-color: $fav-green;
    }
    .cancel-rev-form-btn:hover{
      background-color: white;
      color: $fav-green;
    }
  }
}
  .main-review-div{
    width: 90%;
    .review-header{
      text-align: left;
      font-size: 2rem;
      font-weight: 400;
    }
    .hr{
      width: 100%;
      border: .05rem solid black;
      margin: .3rem;
    }
    .form-call-btn-div{
      display: flex;
      align-items: flex-start;
    }
    .review-card-container{
      width: 100%;
      font-family: Montserrat;
      margin-top: 3rem;
      .review-card{
      display: flex;
      flex-direction: row;
      border-radius: 3rem;
      margin: 1rem;
      max-width: 90%;
      border: .2rem solid $fav-green;
      .review-card-img{
        margin-right: 1rem;
        max-width: 25rem;
        max-height: 20rem;
        border-radius: 3rem;
      }
      .review-card-body{
        position: relative;
        width: 75%;
        height: 22rem;  
        text-align: left;
        .review-card-title{
          font-size: 2rem;
          font-weight: 400;
        }
        .review-card-local-name{
          font-weight: 800;
          position: absolute;
          bottom: 1.5rem;
          right: 13px;
        }   
        .review-card-text{
          height: 58%;
        }
        .review-btn-div{
          position: absolute;
          bottom: .2rem;
          right: .2rem;
          .review-btn{
            margin-right: .5rem;
          }
          .rev-edit-btn{
            border-color: $fav-green;
            background-color: $fav-green;
          }
          .rev-edit-btn:hover{
            border-color: $fav-green;
            color: $fav-green;
            background-color: white;
          }
          .rev-del-btn{
            border-color: $fav-green;
            color: $fav-green;
          }
          .rev-del-btn:hover{
            border-color: $fav-green;
            color: white;
            background-color: $fav-green;
          }
        }
      }
    }
  }
}

}


.bus-img{
  max-width: 30%;
  min-width: 20rem;
  border-radius: 1.5rem;
}
.business-container{
  display: flex;
  flex-direction: row;
}